body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    position: sticky;
    top:0;
    background-color: white;
    border-bottom: 1px solid #ccc;
}

.nav-logo {
    display: flex;
    align-items: center;
}

.nav-logo img {
    height: 40px;
}

.navlist {
    list-style: none;
    display: flex;
    gap: 20px;
    padding: 0;
    margin: 0;
}

.navlist li a {
    text-decoration: none;
    color: black;
    font-weight: 500;
}

.navbar-right {
    display: flex;
    align-items: center;
    gap: 15px;
}

.navbar-right a {
    text-decoration: none;
    color: black;
    font-weight: 500;
}
/* Hero Section */
.hero-section{
    background-image: url(Assets/hall.jpeg);
    height: 450px;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 10px;
}
.heading{
    width: 35%;
    padding: 70px 20px;
}
.heading h2{
    font-size: 18px;
    margin-bottom: 10px;
}
.heading p{
    font-size: 19px;
    margin-bottom: 10px;
}
.org-button{
    background-color: orange;
    color: white;
    font-weight: 300;
    padding: 6px;
    border: none;
    text-decoration: none;
}
.aqua-button{
    background-color: aqua;
    color: white;
    font-weight: 300;
    padding: 6px;
    border: none;
    text-decoration: none;
}

/* Chairs Section */
.chairs-section{
    display: flex;
    justify-content: space-evenly;
}
.chair{
    height: 400px;
    border: 2px solid black;
    width: 25%;
}