*{
   margin:10;
   padding: 0;
   box-sizing: border-box;
   background-color: pink; 
   text-align: center;
}
/*  */

p {
    font-size: 18px;
    color: blue;
}
/*  */

.box{
    background-color: lightgrey;
    padding: 18px;
}
/*  */

#main-selector{
    font-family: Arial;
    color: green;
}
/*  */

div p{
    color: red;
}
/*  */

.item > li{
    color: pink;
}
/*  */

input[type="text"]{
    border: 2px solid teal;
}
/*  */

h2, p{
    color: darkorange;
}
/*  */

a:hover{
    color: aquamarine;
}
/*  */

h3::before{
    content: "👉";
}